# Ignore the Mac OS X .DS_Store files
.DS_Store

# User-specific settings
!default.mode1v3
*.mode1v3
!default.mode2v3
*.mode2v3
!default.pbxuser
*.pbxuser
!default.perspectivev3
*.perspectivev3
!default.xcworkspace
*.xcworkspace
xcuserdata

# Ignore textmate build errors
*.tm_build_errors

# Ignore temp nibs and swap files
*.swp
*~.nib

# Ignore the build, since we don't want archived builds
build

# Probably don't want to check in xcuserdata
xcuserdata/
*.xcworkspace/

# Other
Documentation
DerivedData
ocunit.xml
lcov-*