<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.scottdensmore.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Contacts</key>
	<array>
		<dict>
			<key>emailAddress</key>
			<string>john.smit@microsoft.com</string>
			<key>firstName</key>
			<string>John</string>
			<key>lastName</key>
			<string>Smith</string>
			<key>phoneNumber</key>
			<string>425-706-5555</string>
		</dict>
		<dict>
			<key>emailAddress</key>
			<string>scottden@microsoft.com</string>
			<key>firstName</key>
			<string>Scott</string>
			<key>lastName</key>
			<string>Densmore</string>
			<key>phoneNumber</key>
			<string>425-785-2871</string>
		</dict>
	</array>
</dict>
</plist>
