//
//  SharedSettings.xcconfig
//  ContactManager
//
//  Created by Scott Densmore on 12/28/20.
//  Copyright © 2020 Scott Densmore. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = 27ZDER873F
CODE_SIGN_IDENTITY = Mac Developer
CODE_SIGN_STYLE = Automatic
ORGANIZATION_IDENTIFIER = com.scottdensmore

#include? "../DeveloperSettings.xcconfig"
